* {
  box-sizing: border-box;
  max-width: 100%;
}

a {
  text-decoration: none;
}

@media print {
  #TOC {
    display: none;
  }

  section {
    break-inside: avoid;
  }
}

body {
  margin: min(10%, 2.5cm);
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

h2 {
  border-top: thick solid black;
  background-color: #e0e0e0;
  padding: 1ex;
  page-break-after: avoid;
  -webkit-print-color-adjust: exact !important;
}

.box {
  padding: 2ex;
  overflow: auto;
  float: left;
  width: 50%;
}

.box img {
  max-width: 50%;
}

.box h2 {
  background-color: white;
  padding: 0;
  border: none;
}

div.clear {
  clear: both;
}

.fullbox {
  border: thick solid black;
  padding: 1ex;
}

.fullbox h2 {
  background-color: white;
  padding: 0;
  border: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.note {
    background-color: #ffffe0;
    border: thin solid black;
    padding: 1ex;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.smallimage img {
  width: 200px;
}

.commalist {
  padding-left: 2ex;
}

.commalist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.commalist li {
  display: inline;
}

.commalist li:not(:last-child)::after {
  content: "; "
}
